https://stages.ai/competitions/74/discussion/post/441 를 참고하여 작성하였음

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib as mpl
import math

from glob import glob
from PIL import Image
from tqdm import tqdm, tqdm_notebook

import warnings
warnings.filterwarnings('ignore')

### Label 수정하기

In [16]:
df = pd.read_csv('/opt/ml/code/data/전체.csv')
df.head()

,id,path,age,gender,stem,img_path
0,000001,000001_female_Asian_45,45,female,mask1,/opt/ml/input/data/train/images/000001_female_...
1,000001,000001_female_Asian_45,45,female,mask2,/opt/ml/input/data/train/images/000001_female_...
2,000001,000001_female_Asian_45,45,female,mask4,/opt/ml/input/data/train/images/000001_female_...
3,000001,000001_female_Asian_45,45,female,mask3,/opt/ml/input/data/train/images/000001_female_...
4,000001,000001_female_Asian_45,45,female,incorrect_mask,/opt/ml/input/data/train/images/000001_female_...

In [17]:
gender_labeling_error = ['006359', '006360', '006361', '006362', '006363', '006364', '001498-1', '004432', '001720', '005223']
mask_labeling_error = ['000020', '004418', '005227']

df['gender_issue'] = df['id'].isin(gender_labeling_error)
df['mask_issue'] = df['id'].isin(mask_labeling_error) & df['stem'].isin(['normal', 'incorrect_mask'])

df.loc[(df['gender_issue'] == True) | (df['mask_issue'] == True)]

,id,path,age,gender,stem,img_path,gender_issue,mask_issue
109,000020,000020_female_Asian_50,50,female,incorrect_mask,/opt/ml/input/data/train/images/000020_female_...,False,True
111,000020,000020_female_Asian_50,50,female,normal,/opt/ml/input/data/train/images/000020_female_...,False,True
5348,001498-1,001498-1_male_Asian_23,23,male,mask1,/opt/ml/input/data/train/images/001498-1_male_...,True,False
5349,001498-1,001498-1_male_Asian_23,23,male,mask2,/opt/ml/input/data/train/images/001498-1_male_...,True,False
5350,001498-1,001498-1_male_Asian_23,23,male,mask4,/opt/ml/input/data/train/images/001498-1_male_...,True,False
...,...,...,...,...,...,...,...,...
16830,006364,006364_female_Asian_18,18,female,mask4,/opt/ml/input/data/train/images/006364_female_...,True,False
16831,006364,006364_female_Asian_18,18,female,mask3,/opt/ml/input/data/train/images/006364_female_...,True,False
16832,006364,006364_female_Asian_18,18,female,incorrect_mask,/opt/ml/input/data/train/images/006364_female_...,True,False
16833,006364,006364_female_Asian_18,18,female,mask5,/opt/ml/input/data/train/images/006364_female_...,True,False
16834,006364,006364_female_Asian_18,18,female,normal,/opt/ml/input/data/train/images/006364_female_...,True,False

In [18]:
df.loc[df['mask_issue'] == True, 'stem'] = df.loc[df['mask_issue'] == True, 'stem'].map({'normal':'incorrect_mask',
                                                                                         'incorrect_mask' : 'normal'})
df.loc[df['mask_issue'] == True, 'mask_issue'] = False
df.loc[df['gender_issue'] == True, 'gender'] = df.loc[df['gender_issue'] == True, 'gender'].map({'female' : 'male',
                                                                                                 'male' : 'female'})
df.loc[df['gender_issue'] == True, 'gender_issue'] = False

In [19]:
print(df['gender_issue'].value_counts())
print(df['mask_issue'].value_counts())

False    18900
Name: gender_issue, dtype: int64
False    18900
Name: mask_issue, dtype: int64

In [21]:
df.to_csv('/opt/ml/code/data/Final.csv', index = False)